h1{
   text-align: center;
   margin-top: 200px;
}
#toggle-button {
  display: block;
  margin: 20px auto;   /* auto margin centers horizontally */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: white;
}
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;

}
.dark #toggle-button {
  background-color: white;
}
.light #toggle-button {
background-color: black;
}
